#loginName,
#first,
#last{
    background-image: url(person.png);
}

#loginPassword,
#pw,
#verifypw{
    background-image: url(lock.png);
}

#phone{
    background-image: url(phone.png);
}

#email{
    background-image: url(mail.png);
}