/*Follow this color scheme
Background (Blue): #6a62d2
Inner-Background (White): #f8f8ff
*/

/*Follow this code order
Size
Spacing
Colors
Text
Display Properties
*/

/*
All text-related sizes should be in rem units
All other sizes should be in em units
*/

/*CSS To-Do:
Add tiny images to username/password (look at the first example screenshot I sent)

Center all of the elements heightwise on the screen.

Find a good background picture like graham suggested
(Background: Outlines of food. I could edit it to make it work if the colors are wrong)

Test on an actual phone, fix scaling and spacing as appropriate to make the login page fit on a screen
Make the register page fit on a screen without needing to scroll
*/

body {
    background-color: #6a62d2;
}

#title {
    font-size: 2rem;
}

input[type="text"],input[type="password"], button{
    width: 80%;
    border-radius: 0.25em;
    border: none;
    outline: none;
    height: 2.5rem;
    
    background-color:#e5e8ed;

    font-size: 1rem;
    text-align: left;
    text-indent: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

#loginDiv,
#registerDiv{
    width: 80%;
    border-radius: 1em;
    padding: 1em;

    margin: auto;

    background-color: #f8f8ff;
}

#loginButton,
#registerButton{
    background-color:#6a62d2; /*works*/
    cursor: pointer;

    text-align: center;
    text-indent: 0rem;
}

#forgotPassword{

   color:#6a6b6f; 
   font-size: 0.80rem;
}