/*Follow this color scheme
Accents: DarkRed, #7B0A09
Background: OffBlack, #181A1B
Text: OffWhite, #E8E6E3
PreviewText: Gray, #5C5A56
LinkText: Blue, #3391FF*/

body {
    background-color: #181A1B;
    color: #E8E6E3;
}

#title {    
    padding: 2em;
    background-color: #7B0A09;

    font-size: 2em;
}

input[type="text"],input[type="password"]{
    border-radius: 2em;
    outline: none;

    background-color: #181a1b;
    border-color: #5C5A56;
    color: #5C5A56;

    font-size: 1em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#loginRegisterSwapper{
    width: 20%;
    margin: auto;

    display: flex;
    justify-content: space-around;
}